version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: smartform_backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - postgres
    volumes:
      - ./backend:/app
    command: npm run dev

  redis:
    image: redis:7-alpine
    container_name: smartform_redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

  postgres:
    image: postgres:15-alpine
    container_name: smartform_postgres
    ports:
      - "5432:5432"
    env_file:
      - ./backend/.env
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  redis-data:
  pg-data:
